<div class="container2">
  <a href="#" data-target="slide-out" class="top-nav sidenav-trigger "><i class="material-icons">menu</i></a>
</div>
<ul id="slide-out" class="sidenav sidenav-fixed glass-nav">
    <div class="glass-inner">
        <a href="{{ site.baseurl }}/">
            <h3 class="nav-title">{{ site.name }}</h3>
        </a>

        <ul class="section table-of-contents">
            <li><a href="{{ site.baseurl }}/#about">About</a></li>
            <li><a href="{{ site.baseurl }}/#posts">Posts</a></li>
        </ul>
        <button id="theme-toggle" class="theme-toggle">🌙</button>
    </div>
</ul>


<script>


    const toggle = document.getElementById("theme-toggle");

    toggle.addEventListener("click", () => {
    document.documentElement.classList.toggle("dark");
    localStorage.setItem("theme", document.documentElement.classList.contains("dark") ? "dark" : "light");
    });
</script>
